
<body>


<h1>Ray Events List</h1>

<link rel="stylesheet" type="text/css" href="mystyle.css">

<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #ff5050;
    color: white;
}

#container{
    border:1px solid;
    width:90%;
    height:600px;
    position: relative;

}

#boxclass{
    width:100%;
    text-align: bottom;
    position: absolute;
    bottom:120px;
}

.box {
    width: 10%;
    border: 1px solid;
    margin-left:30px;
    display:inline-block;
    vertical-align:text-bottom;
    
}

.inner{
    margin-top: 60px;
    text-align:center;
} 

</style>



<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Weight</th>
            <th>Height</th>
            <th>Color</th>
            <th>GPA</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Actions</th>
            <th>-</th>
            <th>-</th>
        </tr>
    </thead>
    <tbody>
        
    <% @raydb.each do |e| %>
        <tr>
    
            <td><%= e.name %></td>
            <td><%= e.weight %></td>
            <td><%= e.height %></td>
            <td><%= e.color %></td>
            <td><%= e.gpa %></td>
            <td><%= e.age %></td>
            <td><%= e.gender %></td>
            <td><%= link_to "Show", :controller => "raydb", :action=>"show", :id => e %></td>
            <td><%= link_to "Edit", :controller => "raydb", :action=>"edit", :id => e %></td>
            <td><%= link_to "Delete", :controller => "raydb", :action=>"destroy", :id => e %></td>
        
        </tr>
    <% end %>
    
    </tbody>

</table>

<%= link_to "Add New", :controller => 'raydb', :action => 'new' %>
</br></br>


<div id="container">
    </br></br></br></br></br></br></br></br>
    
    <div id="boxclass">
    <% @raydb.each do |e| %>
    <% if e.gender == "Male" %>    
    <div class="box"  style = "width:<%= e.weight%>px; height:<%= e.height %>px">
        <div class="inner">
        <div class="name" style = "color:<%= e.color%>";><%= e.name %></div>
        <div class="gpa"><%= e.gpa %></div>
        <div class="gpa">Age:<%= e.age %></div>
        
        </div>
    </div>
    <% end %>
    <% if e.gender == "Female" %>
    <div class="box"  style = "width:<%= e.weight%>px; height:<%= e.height %>px; border-radius: 20%;" >
        <div class="inner">
        <div class="name" style = "color:<%= e.color%>";><%= e.name %></div>
        <div class="gpa"><%= e.gpa %></div>
        <div class="gpa">Age:<%= e.age %></div>
        </div>
    </div>
    <% end %>
     <% end %>
     </div>
     
</div>



</body>