
<h1>Ray Events List</h1>


<ul>
<% @raydb.each do |e| %>

    <li>
        <%= e.name %>
        <%= link_to "Show", :controller => "raydb", :action=>"show", :id => e %>
        <%= link_to "Edit", :controller => "raydb", :action=>"edit", :id => e %>
        <%= link_to "Delete", :controller => "raydb", :action=>"destroy", :id => e %>
    </li>
    
<% end %>
</ul>

<%= link_to "New Event", :controller => 'raydb', :action => 'new' %>