<h2><%= @raydb.name %></h2>

<p>Weight:</p><%=  @raydb.weight %></br>
<p>Weight:</p><%=  @raydb.height %></br>
<p>Weight:</p><%=  @raydb.color %></br>
<p>Weight:</p><%=  @raydb.gpa %></br>

<p>
    <%= link_to 'Back to index', :controller => 'raydb', :action =>'index' %>
</p>