<h2><%= @raydb.name %></h2>

<p><strong> Weight:</strong> </p><%=  @raydb.weight %></br>
<p><strong>Height:</strong></p><%=  @raydb.height %></br>
<p><strong>Color:</strong></p><%=  @raydb.color %></br>
<p><strong>GPA:</strong></p><%=  @raydb.gpa %></br>

<p>
    <%= link_to 'Back to index', :controller => 'raydb', :action =>'index' %>
</p>